language: python
python:
  - "2.6"
  - "2.7"
  - "3.4"
install:
  # Fix for html5lib, probably can be removed after the version after
  # 0.999999999/1.0b10 is released.
  - pip install --upgrade setuptools
  - pip install -e .
  - pip install -r requirements-test.txt
  - pip install coveralls
script: nosetests --with-coverage --cover-package=messytables
after_success:
  - coveralls
